
@model IEnumerable<ProyectoI_Libreria.Models.Personas>

<table class="table table-striped table-rounded">
    <thead style="background-color: #337ab7; color: white;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaIdentidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acción</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaIdentidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @if (item.Estado == true)
                {
                    <i class="fas fa-check text-success"></i> <!-- Icono de check positivo -->
                }
                else
                {
                    <i class="fas fa-times text-danger"></i> <!-- Icono de cruz negativo -->
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
